/* -----------css variables----------- */
:root {
  --color1: #ffffff;
  --color2: #000000;
  --color3: grey;
  --color4: rgb(53, 53, 53);
  /*
  --color1: #000000;
  --color2: #ffffff;
  --color3: grey;
  --color4: rgb(53, 53, 53);
  */
}

/* -----------all styling----------- */
/* default styling */
html {
  overflow-x: hidden;
}

body {
  /* default styling */
  background-color: var(--color2);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
  z-index: -1;
  color: var(--color1);
  text-decoration: none;
  margin: 2vmin;
}

canvas {
  z-index: 99;
}

a {
  color: var(--color1);
  text-decoration: underline;
}

/* nav styling */
nav ul {
  /* flexbox container */
  margin: 0;
  padding-left: 1vmin;
  padding-right: 1vmin;
  padding-top: 2vmin;
  padding-bottom: 1vmin;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 2.1vh;
  font-weight: bold;
}

nav li {
  /* flexbox items */
  flex-grow: 1;
  flex-shrink: 1;
}

nav a {
  /* nav links */
  text-decoration: none;
  padding: 2vmin;
  transition: all 0.2s;
  color: var(--color1);
}

/* project styling */
div.projectWrapper {
  /* flexbox container */
  margin: 0;
  padding-top: 3vmin;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

div.project {
  /* flexbox items */
  flex-grow: 1;
  flex-shrink: 1;
  display: block;
  margin: auto;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  justify-content: center;
  text-align: center;
}

img.projectImg {
  max-width: 100%;
  max-height: 100%;
  height: 300px;
  position: relative;
  clear: right;
  padding: 6vw;
  display: block;
  margin: auto;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

a.projectDescription {
  text-decoration: none;
  margin: none;
  text-align: center;
  flex-wrap: nowrap;
  font-size: 4vh;
  margin: 0;
}

figure.projectFigure {
  text-align: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

figcaption.projectFigcaption {
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  top: 4vw;
  z-index: 99;
  text-decoration: underline;
}

/* logo styling - center in li.logo */
img.logo {
  max-width: 100%;
  max-height: 100%;
  transform: translateY(-1vmin);
}

div.logo404 {
  text-align: center;
  margin: auto;
}

li.logo {
  width: 8vmin;
  height: 8vmin;
  text-align: center;
}

/* resume styling */
div.react-pdf__Page {
  position: relative;
  width: 100%;
  text-align: center;
}

canvas.react-pdf__Page__canvas {
  display: block;
  max-width: 100%;
  max-height: 1%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.resume {
  padding: 2vmin;
}

/* footer styling */
div.footer {
  position: fixed;
  left: 0;
  bottom: 3vmin;
  width: 100%;
  background-color: var(--color2);
  font-size: 1.5vh;
  box-shadow: 0 50vh 0 50vh var(--color2);
  padding-top: 1vmin;
}

div.footer.h2 {
  font-size: 0.5vh;
}

/* button styling */
.btn:hover {
  opacity: 1;
  transform: translateY(-2px);
  transform: scale(1.3);
  z-index: 999;
}

/* contact styling */
.contact .contactsWrapper {
  text-align: center;
  width: 90%;
  margin: auto;
  font-size: 2.25vh;
  display: table;
  overflow: hidden;
  line-height: 3vmin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2vmin;
}
.contact .h2 {
  text-align: center;
  font-size: 1.5vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-top: 15vmin;
}

.contactItem {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1vmin;
  padding-top: 3vmin;
}

.contact {
  text-align: center;
  font-size: 4vh;
  color: var(--color1);
  padding-top: 6vmin;
}

Ionicon {
  padding-bottom: 1vmin;
}

/* about styling */
div.aboutWrapper {
  /* flexbox container */
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding: 4vmin;
  align-items: center;
}

div.blurb {
  /* flexbox item */
  flex-grow: 2;
  flex-shrink: 1;
  font-size: 5vw;
  text-align: left;
  padding-left: 5vmin;
  padding-right: 5vmin;
}

div.headshot {
  /* flexbox item */
  flex-grow: 1;
  flex-shrink: 1;
  padding: 5vmin;
}

img.headshot {
  max-width: 60vw;
  max-height: 60vw;
  margin: auto;
}

/* sorting styling */
div.sortTitle {
  font-size: 6vmin;
  padding: 2vmin;
}

div.sortWrapper {
  padding-bottom: 5vmin;
}

div.sortInfo {
  color: var(--color3);
  font-size: 3.75vmin;
  margin: 2vmin;
  margin-top: 0vmin;
}

div.sortInfoDescription {
  color: var(--color1);
}

pre.prettyprint,
code.prettyprint {
  background-color: #000;
  border-radius: 2vmin;
  margin: 2vmin;
  padding: 1vmin;
  white-space: pre-wrap;
  font-size: 2.75vmin;
  text-align: left;
  overflow: hidden;
  word-wrap: break-word;
}

/* dynamic from https://stackoverflow.com/questions/18477016/switching-css-classes-based-on-screen-size */
/* Desktops and large screens ----------- */
@media only screen and (min-width: 1243px) {
  /* nav styling */
  nav ul {
    /* flexbox container */
    margin: 0;
    padding-left: 1vmin;
    padding-right: 1vmin;
    padding-top: 2vmin;
    padding-bottom: 1vmin;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 5vh;
    font-weight: bold;
  }

  /* about styling */
  div.aboutWrapper {
    /* flexbox container */
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    padding: 4vmin;
    align-items: center;
  }

  div.blurb {
    flex-grow: 2;
    flex-shrink: 1;
    font-size: 2vw;
    text-align: left;
    padding: 5vmin;
  }

  div.headshot {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 5vmin;
  }

  img.headshot {
    max-width: 25vw;
    max-height: 25vw;
    margin: auto;
  }

  /* project styling */
  img.projectImg {
    max-width: 100%;
    max-height: 100%;
    height: 600px;
    position: relative;
    clear: right;
    padding: 6vw;
    display: block;
    margin: auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }

  a.projectDescription {
    text-decoration: none;
    margin: none;
    text-align: center;
    flex-wrap: nowrap;
    font-size: 6vh;
    margin: 0;
  }

  figure.projectFigure {
    text-align: center;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    display: block;
  }

  figcaption.projectFigcaption {
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    top: 4vw;
    z-index: 99;
    text-decoration: underline;
  }
}
