/* -----------css variables----------- */
:root {
  --color1: #ffffff;
  --color2: #000000;
  --color3: grey;
  --color4: rgb(53, 53, 53);
  /*
  --color1: #000000;
  --color2: #ffffff;
  --color3: grey;
  --color4: rgb(53, 53, 53);
  */
}

/* -----------all styling----------- */

/* body styling */
body {
  /* default styling */
  background-color: var(--color2);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
  z-index: -1;
  color: var(--color1);
  text-decoration: none;
}

/* nav styling */
nav ul {
  /* flexbox container */
  margin: 0;
  padding: 1vmin;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

nav li {
  /* flexbox items */
  flex-grow: 1;
  flex-shrink: 1;
}

nav a {
  /* nav links */
  text-decoration: none;
  padding: 2vmin;
  transition: all 0.2s;
  color: var(--color1);
}

/* project styling TBD*/
div.projectWrapper {
  /* flexbox container */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

div.project {
  /* flexbox items TBD */
  flex-grow: 1;
  flex-shrink: 1;
  padding: 20vmin;
}

/* logo styling - center in li.logo */
img.logo {
  max-width: 100%;
  max-height: 100%;
}

div.logo404 {
  width: 15vh;
  height: 15vh;
  text-align: center;
  margin: auto;
}

li.logo {
  width: 6vh;
  height: 6vh;
  text-align: center;
}

/* app styling */
div.app {
  font-size: 20vmin;
}

p {
  padding: 2vmin;
}

/* resume styling */
div.react-pdf__Page {
  position: relative;
  width: 100%;
  text-align: center;
}

canvas.react-pdf__Page__canvas {
  display: block;
  max-width: 100%;
  max-height: 1%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.resume {
  padding: 2vmin;
}

/* footer styling */
div.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1vmin;
  background-color: var(--color2);
  font-size: 1.5vh;
}

div.footer.h2 {
  font-size: 0.5vh;
}

/* contact styling */
.contact .h1 {
  text-align: left;
  width: 50%;
  margin: auto;
  font-size: 2.5vh;
  display: table;
  white-space: nowrap;
  overflow: hidden;
}
.contact .h2 {
  text-align: center;
  font-size: 1.5vh;

  top: 70%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.contact {
  text-align: center;
  font-size: 4vh;
}
