/* -----------css variables----------- */
:root {
  --color1: #000000;
  --color2: #ffffff;
  --color3: grey;
  --color4: rgb(53, 53, 53);
}

/* -----------all styling----------- */

/* body styling */
body {
  /* default styling */
  background-color: var(--color2);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
  z-index: -1;
}

/* nav styling */
nav ul {
  /* flexbox container */
  margin: 0;
  padding: 1vmin;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
}

nav li {
  /* flexbox items */
  flex-grow: 1;
  flex-shrink: 1;
}

nav a {
  /* nav links */
  text-decoration: none;
  padding: 2vmin;
  transition: all 0.2s;
  color: var(--color1);
}

/* project styling TBD*/
div.projectWrapper {
  /* flexbox container */
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

div.project {
  /* flexbox items TBD */
  flex-grow: 1;
  flex-shrink: 1;
  padding: 20vmin;
}

/* logo styling - center in li.logo */
img.logo {
  max-width: 100%;
  max-height: 100%;
}

li.logo {
  width: 6vh;
  height: 6vh;
  text-align: center;
}

/* app styling */
div.app {
  font-size: 20vmin;
}

p {
  padding: 2vmin;
}

/* resume styling */
/* TBD fix for iPhone dynamic sizes */
canvas.react-pdf__Page__canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
